name: Fraud Checker

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  check-fraud:
    runs-on: ubuntu-latest

    steps:
      - name: Call Fraud Checker API
        run: |
          echo "Calling Fraud Checker API..."
          RESPONSE=$(curl -s \
  -H "Referer: https://fraudchecker.link/" \
  -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120.0.0.0 Safari/537.36" \
  "https://fraudchecker.link/free-fraud-checker-bd/api/search.php?phone=01832776884")
          echo "$RESPONSE"
